:root {
   --cor-fundo-pagina : #030303;
   --cor-texto-principal: #ffffff;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-texto-principal);
    background-color: var(--cor-fundo-pagina);
}

.container-pagina {
    width: min(1100pc, 90%);
    margin: 0 auto;
}
.cabecalho-principal {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #0961a5 20%, #000000 50%);
    padding: clamp(2rem, 5vw, 5rem) 0;
}

.cabecalho-principal__titulo{
    font-size: 18pt;
    color: var(--cor-texto-principal);
    margin: 0 0 1.5rem;
}

.cabecalho-principal__subtitulo{
    font-size: 14pt;
    color: var(--cor-texto-principal);
    margin: 0 0 1.5rem;
    
}

.cabecalho-principal__garantia{
    font-size: 12pt;
    color: rgba(241, 241, 241, 0.545);
    margin: 0 0 1.5rem;
    min-height: 70vh;
    display: flex;
    justify-content: center;
}
input{
width: 30%;
padding: 10px;
border-radius: 20px;
background: none;
border-color: #0b0c0e;
}

button{
    width: 15%;
    padding: 13px;
    border-radius: 20px;
    background: rgb(0, 213, 0);
    border-color: rgb(0, 220, 0) ;
}